<script setup>
    const handleOpenDemo = () => {
        window.OzLiveness.open()
    }
</script>

<h1>Welcome to SvelteKit</h1>
<button on:click={handleOpenDemo}>Open Demo</button>

<style>
    button {
        border: 1px solid #41b883;
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;

        color: #41b883;
    }
</style>